
/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 2em;
	}

		header.major h2 {
			font-size: 2em;
		}

		header.major p {
			padding: 1em 1em 0 1em;
		}

/* Banner */

	/* #banner {
		padding: 10em 2em 8em;
	} */

	.overlay-desc h1 {
		margin: 1.5em 0.25em 0 0.25em !important;
		font-size: 30px !important;
	}

	@media screen and (min-width: 350px) and (max-width: 500px) {
		.overlay-desc h1 {
			margin: 2em 1em 0em 1em !important;
			font-size: 2em !important;
		}
	}

	@media screen and (min-width: 500px) and (max-width: 736px) {
		.overlay-desc h1 {
			margin: 2em 1em 0em 1em !important;
			font-size: 3em !important;
		}
	}



	header h2 + p {
		font-size: 0.9em;
		margin-top: -1em;
		line-height: 1.5em;
	}

	#nice {
		margin-bottom: 0;
		font-size: 1.5em;
	}

	#about {
		font-size: 0.9em;
	}

	header h2 {
		font-size: 1.2em;
	}

	#paragraf {
		color: white;
		font-weight: 500;
		padding-left: 5px !important;
		letter-spacing: normal;
		font-size: 15px !important;
		font-family: 'Roboto', sans-serif;
		line-height: 40px;
		margin: 0 !important;
	}


	#videoBG {
		max-width: 100%;
		max-height: 100%;
	}

		#banner h2 {
			font-size: 2.25em;
		}

		#banner p {
			font-size: 1.25em;
		}

/* Wrapper */

	/* .wrapper { */
		/* Style 1 Wrapper */
		/* Style 2 Wrapper */
	/* } */

		.wrapper.style1 {
			padding: 4em 2em 2em;
		}

		.wrapper.style2 {
			padding: 4em 0em 2em;
		}

/* Footer */

	#footer {
		padding: 4em 0em 4em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}